header{
    font-size: 500%;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

  #titulo{
    font-size: 100%;
    font-weight: normal;
    margin-block-end: 0em;
  }

  #subtitulo{
    font-size:30%;        
    font-family: 'Open Sans', sans-serif;
    
  }

  #descricao{
    font-size:30%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffc5e7;
    text-align: center;
    padding: 10px;
    border-block-end: 0px;
    margin-block-end: 0.1em;
  } /*f5a7d4*/

nav{
    font-family: 'Open Sans', sans-serif; 
}

    
#redessociais {
    width: 100%;   
    background-color: rgb(184, 255, 248);
    padding: 10px;
  }
  

.coluna{
    float: left;
    width: 23.5%;
    text-align: center;
}
  

.imagemredessociais{
    width: 10%;
    height: 10%;
}

#principal{
  width: 100%;
}
.fotosprincipal{
  width: 100%;
  height: auto;
}


 body{
    width: 45%;
    margin: 2% auto 2% auto;
} 

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.foto_com_mouse{
  width: 100%;
  height: auto;
  border: 10px solid #f8d3cf;
  transition: 0.5s;
}

.fotos_sem_mouse{
  width: 100%;
  height: auto;
}



